<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-activemq:war exploded">
    <output-path>$PROJECT_DIR$/spring-activemq/target/spring-activemq</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-activemq" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/spring-activemq/target/spring-activemq/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-activemq/web/Web" />
    </root>
  </artifact>
</component>